<div data-ng-controller="view2Controller">
		<div id="container">
    		<div id="header">
    			<p>Company Selection to EDIT/UPDATE: {{companiesSelected[0].companyName}}</p>
    		</div>
    		
    		<div id="menu" style="float:left;">
    			<div id="listDiv" class="gridCompaniesStyle" ng-grid="gridView2Definition"></div>
    		</div>
    		
    		<div id="content" style="float:left;">
    				<table style="width:500px;" cellpadding="0" cellspacing="0">
    					<tr>
    						<td align="left"><label for="idUser" >Company Id:</label></td>
					    	<td align="left"><input id="idUser" type="number" 
					    		ng-model="companiesSelected[0].idUser" style="width: 100%;"/></td>
    					</tr>
    					
    					<tr>
							<td  align="left"><label for="userName">User Name:</label></td>
					    	<td  align="left"><input id="userName" type="text" 
					    		ng-model="companiesSelected[0].userName" style="width: 100%;"/></td> 					
    					</tr>
    					
    					<tr>
							<td  align="left"><label for="passWord">Password:</label></td>
					    	<td  align="left"><input id="passWord" type="text" 
					    		ng-model="companiesSelected[0].passWord" style="width: 100%;"/></td> 					
    					</tr>
    						
    					<tr>
							<td  align="left"><label for="name">Company Name:</label></td>
					    	<td  align="left"><input id="name" type="text" 
					    		ng-model="companiesSelected[0].companyName" style="width: 100%;"/></td> 					
    					</tr>
    					
						<tr> 
							<td colspan="2" align="right">
								<button data-ng-click="add()">Add new</button>
								<button data-ng-click="save()">Save</button>
								<button data-ng-click="remove()">Delete</button>
								<button data-ng-click="cancel()">Cancel</button>
								<button data-ng-click="go('/view3');">Edit companies</button>
							</td> 					
    					</tr>    					
					 </table>
    		</div>
    		
			<div id="footer">
    				<a href="{{companiesSelected[0].link.href}}">{{companiesSelected[0].link.href}}</a>
    		</div>    		
    	</div>	
	
</div>